<head>
  <title> Javascript Page</title>
  <style>
    .mainBanner {
        display: block-inline;
        margin-left: auto;
        margin-right: auto;
        width: 58%;
        height: 333px;
    }
    .mainTopics {
        display: block-inline;
        margin-left: auto;
        margin-right: auto;
        width: 22%;
    }
    .sideBanner {
        display: block-inline;
        width: 20%;
        height: 320px;
    }

  </style>
</head>

<body>

<img src="/assets/5x5Javascript.png" class="sideBanner">
<img src="/assets/calm.jpg" class="mainBanner">
<img src="/assets/5x5Javascript.png" class="sideBanner"><br>



</body>