
<h3>Create New Topic</h3>

<%= form_for(@topic) do |f| %>
  <div>
    <label>topic name:</label><br>
    <%= f.text_field :name %>
  </div><br>
  
  <div>
    <label>image url for banner:</label><br>
    <%= f.file_field :image %>
  </div><br>

  <%= f.submit %>
<% end %>